<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Formulario de Alta/Modificacion de Empleado</h1>

    <form th:action="@{/empleado/persistirEmpleado}" method="post" th:object="${empleado}">
        
        <input type="hidden" th:value="${empleado.id}" name="id" th:field="*{id}">
        <input type="text" placeholder="Nombre: " th:field="*{nombre}" th:value="${empleado.nombre}">
        <input type="text" placeholder="Primer Apellido: " th:field="*{primerApellido}"
            th:value="${empleado.primerApellido}">
        <input type="text" placeholder="Segundo Apellido: " th:field="*{segundoApellido}"
            th:value="${empleado.segundoApellido}">

        <label for="fechaAlta">Fecha Alta: </label>
        <input type="date" id="fechaAlta" th:field="*{fechaAlta}" th:value="${empleado.fechaAlta}">

        <label for="salario">Salario: </label>
        <input type="text" th:field="*{salario}" id="salario" th:value="${empleado.salario}">

        <label for="departamento">Departamento</label>
        <select name="departamento">
            <option th:each="departamento : ${departamentos}" th:value="${departamento.id}"
                th:text="${departamento.nombre}" th:selected="${empleado.id != 0 and 
                                departamento.id == empleado.departamento.id}"</option>
                             </select>
                <fieldset>
                    <legend>Genero: </legend>
                    <label for="hombre">Hombre: </label>
                    <input type="radio" id="hombre" value="HOMBRE" th:field="*{genero}">
                    <label for="mujer">Mujer: </label>
                    <input type="radio" id="mujer" value="MUJER" th:field="*{genero}">
                    <label for="otro">Otro: </label>
                    <input type="radio" id="otro" value="OTRO" th:field="*{genero}">
                </fieldset>

                <input type="submit">
    </form>
</body>

</html>